{% extends 'base.html' %}


{% block content %} 

<table class="table">
    <thead class="">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Reg_No</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th scope="col">Course Name</th>
            <th scope="col">
                <a href="{% url 'student_form' %}" class="btn btn-success"><i class="fa-solid fa-user-plus"></i>Add</a>

            </th>



        </tr>

    </thead>
    <tbody>
        {% for student in studentlist %}
        <tr>
            <td>{{student.fullname}}</td>
            <td>{{student.reg_no}}</td>
            <td>{{student.mobile}}</td>
            <td>{{student.email}}</td>
            <td>{{student.course_name}}</td>
            <td>
                <a href="{% url 'student_update' student.id %}" class="btn text-warning px-0"><i class="fa-solid fa-pen-to-square"></i></a>
                <form action="{% url 'delete' student.id %}" method="post" class="d-inline">
                    {% csrf_token %}

                    <button  type="submit" class="btn">
                        <i class="fa-solid fa-trash-can text-danger float-right"></i>
                      </button>

                </form>
               
            </td>





        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}